


body{
    background-color: white;
    width: 100%;
    height: 768px;
}
.box-search{
margin-top: 10%;    
    
    
}

#status{
    color: white;
}

.menu-color{
    background-color: #003641;
}

.box-text-style{
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}
.titulo{
    
    font-weight: 900;
    color: green;
    font-style: italic;
    font-size: 60px;
}


.PCARD{
font-weight: 600;
font-size: 20px;
}





.search-style{
    color: green;
  font-weight: 600;
  background-color: rgba(255,255,255, 0.2); 
  width: 50%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgba(211,211,211, 1.8);
  padding-left: 20px;
}

.search-style:focus {
    box-shadow: 0 0 0 0;
    border: 1px solid green;
    outline: 0;
    transition-duration:2s;

}
    
.search-btn{
    background:white;
    border: 1px solid rgba(211,211,211, 1.8);
font-weight: 500;
color: gray;
border-radius: 20%;
}

.search-btn:hover{
    background: green;
    color: white;
    border: 1px solid green;
    transition: 1s;
}

.search-btn:focus{
    background: green;
    color: white;
    transition: 1s;
}



.search-style::placeholder{
    font-weight: 600;
    opacity: 2;
}


.result{
    position: relative;
}

.container-card{
   margin-top:5%;
   
    
}


